@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

.tic-tac-toe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 1rem 0;
  gap: 0.3rem;
}

.block {
  text-align: center;
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  border: 0.13rem solid black;
  border-radius: 0.5rem;
  color: black;
}

.hoverBlock:hover {
  background-color: #d7f6ff;
  cursor: pointer;
}

.resetBtn {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  color: black;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.13rem solid black;
}

.resetBtn:hover {
  background-color: red;
  color: white;
}

.result {
  margin: 2rem 0;
  color: #213cee;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .result {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .block {
    height: 5.5rem;
    width: 5.5rem;
    font-size: 1.7rem;
  }
  .resetBtn {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .result {
    font-size: 1rem;
  }
}
